/*$zindex-dropdown:          1000 !default;*/
/*$zindex-sticky:            1020 !default;*/
/*$zindex-fixed:             1030 !default;*/
/*$zindex-modal-backdrop:    1040 !default;*/
/*$zindex-modal:             1050 !default;*/
/*$zindex-popover:           1060 !default;*/
/*$zindex-tooltip:           1070 !default;*/
body {
    margin-top: 110px;
    font-family: 'Raleway', sans-serif;
}
h1, h2 {
    font-weight: 900;
}
a:focus {
    outline: none;
}

.overflowclass {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
     }
.overflowclass: :-webkit-scrollbar {
    display: none;
     }
.overflowclassbox {
    display: flex;
     } 
.over {
    position: absolute;
    top: 70%;
    left: calc(50% - 64px);
}

.over a {
    color: red;
}
.over a:hover {
    color: #000000;
    text-decoration: none;
}
img {
    max-width: 100%;
}
.navbar-brand {
    width: 250px;
}
.footer {
    background-color: #f8f9fa;
    border-top: 2px #000000 solid;
}
.list-group-item {
    background-color: transparent;
    width: 100%;
    text-align: center;
}
.carousel-caption {
    bottom: 35%;
}
.carousel-caption p {
    opacity: 0;
    animation-name: small-big;
    animation-duration: 4s;
}
@keyframes small-big {
    from {opacity: 0;}
    to {opacity: 1;}
}
.caption-adopt {
    bottom: 10%;
}
.fa {
  padding: 16px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.banner-cat {
    height: 240px;
    background-image: url('../img/cat-banner.jpg');
    background-size: cover;
    
}
.banner-cat h1 {
    line-height: 5.6;
    color: #fff;
    font-weight: bold;
    letter-spacing: 15px;
}
#message {
    height: 150px;
}
.btn-primary {
    width: 100%;
}
.field-collection-view {
    padding: 0px;
    margin: 0px;
    border-bottom: none;
    vertical-align: baseline;
    outline: 0;
}
.field-collection-view a {
    text-decoration: none;
}
.hover-effect {
    position: relative;
    margin: 11px 0;
    padding: 0;
    line-height: 0;
}
.hover-effect img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
}
.hover-effect .overlay.with-title, .hover-effect .overlay-title {
    height: 34px;
}
.hover-effect .overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(61,61,62,0.8);
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.hover-effect .overlay-title {
    margin: 10px 10px 0px 10px;
    border-bottom: solid 1px #ffffff;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
}
.hover-effect .overlay-body {
    margin: 10px;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
}
.view-mode-full:hover .with-title {
    height: 100%;
}
.backGround {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}
.footer a {
    font-size: .7rem;
}
.cat-shadow {
    padding-top: 68%;
    background-color: black;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.banner-cat h1 {
    font-size: 18px;
    line-height: 16;
    font-weight: 900;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    body {
        margin-top: 70px;
        background-image: url('../img/cat-resting-looking-street-163731.jpeg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .nocolor {
        background-image: none;
        background-color: #ffffff;
    }

    .bgc-w {
        background-color: rgba(255, 255, 255, 0.70);
    }
    .list-group-item {
        width: 70%;
    }
    .footer a {
        font-size: .7rem;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .banner-cat h1 {
        line-height: 5.6;
        font-size: 2.5rem;
        font-weight: 900;
    }
     .footer a {
        font-size: .9rem;
    }
    
    }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .triangle {
        position: relative;
    }
    .triangle:after {
        position: absolute;
        content: " ";
        top: 100%;
	    left: 34%;
	    width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #dc3545;
    }
    
    }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
    }
